[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"solidpython2" = "*"
install = "*"
pcbflow = {editable = true, ref = "1efe0d5ec35b14f9159213a370624226555a5a48", git = "ssh://git@github.com/michaelgale/pcbflow.git"}
shapely = "==1.8.5"
skidl = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
